[Unit]
Description=ttyd
Before=hostname_capture.service

[Service]
EnvironmentFile=/etc/ttyd_env
ExecStart=/bin/ttyd -t titleFixed=\'${HOSTNAME}\' login
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
